.summary-container {
  background-color: #f3f3f3;
  font-size: 11px;
  padding: 5px;
}

.summary-container-selected {
  background-color: #66b3ff;
  font-size: 11px;
  padding: 5px;
}


.summary-container:hover {
  background-color: #A0A0A0;
}

.summary-progress-bar {
  height: 10px;
  background: #D3D3D3;
  border-radius: 4px;
  border: 1px solid #555;
}
