.qp-container {
  padding: 0px;
  border-radius: 10px;
}

.qp-inner {
  padding-bottom: 5px;
  border-radius: 0px 0px 10px 10px;
}

.qp-header {
  background: #808080;
  color: #FFDD11;
  padding: 6px;
  text-align: center;
  font-weight: 500;
  margin: 0px;
  border-radius: 9px 9px 0px 0px;
}

.qp-row {
  display: table;
  clear: both;
  width: 100%;
  margin: 0px
}
