body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 10px;
  background: #dfdfdf;
}

ul, ol {
  padding-left: 0px;
  margin: 0px;
}

.layout-row {
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}

.left {
  float: left;
  padding-right: 10px;
  margin: 0px;
}

.right {
  float: right;
  padding-left: 10px;
  margin: 0px;
}

.sidebar {
  position: absolute;
  width: 290px;
  height: 95%;
  overflow-y: auto;
  background: #f3f3f3;
  border-radius: 10px;
}

.content-pane {
  position: absolute;
  margin-left: 300px;
  margin-right: 10px;
  height: 95%;
  background: #f3f3f3;
  border-radius: 10px;
  overflow-y: auto;
}

.button-left {
  float: left;
  padding: 5px;
  margin-bottom: 5px;
  background: #888888;
  font-size: 14px;
  border-radius: 10px;
  color: #f3f3f3;
  border: 0px;
}

.button-right {
  float: right;
  padding: 5px;
  margin-bottom: 5px;
  background: #888888;
  font-size: 14px;
  border-radius: 10px;
  color: #f3f3f3;
  border: 0px;
}
