body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 10px;
  background: #d8d8d8;
}

ul, ol {
  padding-left: 0px;
  margin: 0px;
}

.layout-row {
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}

.left {
  float: left;
  padding-right: 10px;
  margin: 0px;
}

.right {
  float: right;
  padding-left: 10px;
  margin: 0px;
}
