body {
  font: 14px Helvetica, Arial, sans-serif;
  margin: 10px;
  background: #dfdfdf;
}

ul, ol {
  padding-left: 0px;
  margin: 0px;
}

.layout-row {
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: 5px;
}

.left {
  float: left;
  padding-right: 10px;
  margin: 0px;
}

.right {
  float: right;
  padding-left: 10px;
  margin: 0px;
}

.sidebar {
  position: absolute;
  width: 290px;
  height: 95%;
  overflow-y: auto;
  background: #f3f3f3;
  border-radius: 10px;
}

.content-pane {
  position: absolute;
  margin-left: 300px;
  margin-right: 10px;
  height: 95%;
  background: #f3f3f3;
  border-radius: 10px;
  overflow-y: auto;
}

.button-left {
  float: left;
  padding: 5px;
  margin-bottom: 5px;
  background: #888888;
  font-size: 14px;
  border-radius: 10px;
  color: #f3f3f3;
  border: 0px;
}

.button-left:hover {
  background: #444;
}

.button-right {
  float: right;
  padding: 5px;
  margin-bottom: 5px;
  background: #888888;
  font-size: 14px;
  border-radius: 10px;
  color: #f3f3f3;
  border: 0px;
}

.button-right:hover {
  background: #444;
}

.sm-button {
  background: #EEEEEE;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #555;
  padding: 3px 10px 3px 10px;
}

.sm-button:hover {
  background-color: #BBBBBB;
}

.settings-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.settings-header {
  background: #808080;
  text-align: center;
  color: #f3f3f3;
  padding: 5px;
}

.settings-closebutton {
  float: right;
  cursor: pointer;
}

.settings-closebutton:hover {
  font-weight: bolder;
}

.settings-container {
  position: absolute;
  right: 3%;
  top: 1%;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 3px 3px 10px 3px #444444;
  overflow: hidden;
}

.settings-row {
  clear: both;
  display: table;
  width: 100%;
}

.settings-inner {
  height: 200px;
  width: 250px;
  padding: 5px;
  margin: 5px;
  overflow: auto;
}
