.summary-container {
  background-color: #f3f3f3;
  font-size: 16px;
  padding: 8px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid #555;
  box-shadow: 2px 2px 3px 0px #686868;
}

.summary-container:hover {
  background-color: #A0A0A0;
}
